[user]
	name = <YOUR NAME HERE>
	email = <YOUR EMAIL ADDRESS HERE>
[diff]
	tool = meld
[merge]
	tool = meld
[difftool]
	prompt = False
[core]
	pager = less -FiXR
	excludesfile = /home/bevans/.gitignore_global
[pull]
	rebase = true
[push]
	default = simple
[color]
	ui  = auto
	status = auto
[log]
	decorate = short
[color "status"]
	added = blue
	updated = cyan
	changed = yellow
	untracked = red
[alias]
	graph = log --graph --oneline --decorate
	graph-all = log --graph --oneline --decorate --branches='*'
	showtool = "!showci () { rev=${1:-HEAD}; git difftool $rev~1 $rev; }; showci $1"
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -
	commend = commit --amend --no-edit
